<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid full">
		<div class="container">

			<form class="form-signin" th:action="@{/login}" method="post">
				<div class="card-header" th:text="#{text.login.titulo}">Por
					favor Sign In!</div>


				<input type="text" name="username" id="username"
					class="form-control" th:placeholder="#{text.login.username}"
					autofocus required /> <input type="password" name="password"
					id="password" class="form-control"
					th:placeholder="#{text.login.password}" required />

				<div class="checkbox">
					<label> <input type="checkbox" value="remember-me">
						Recuerdame
					</label>
				</div>
				<input type="submit" class="btn btn-lg btn-primary btn-block"
					th:value="#{text.login.boton}" />
				<p>If you don´t have a account</p>
				<a href="CrearCuenta.html" class="btn btn-lg btn-success btn-block"
					role="button">Create account</a> <input type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>

		</div>
		<!-- /container -->
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>